<div 
    data-model="app.accountsOnlyService.viewModel" 
    data-role="view" 
    id="bi-view"
    data-before-show="beforeViewShow"
    data-layout="goback-layout"
    >
    
    <div class="page-name">
      <!--  <div data-bind="source:selectedAccount.type" ></div>-->
        Account Details
    </div>

    <ul data-role="listview">
        <li><div class="f-left">Account Name</div><div class="f-right">:&nbsp<span data-bind="source:selectedAccount.type"></span></div></li>
        <li><div class="f-left">Account Number</div><div class="f-right">:&nbsp<span data-bind="source:selectedAccount.accountNumber"></span></div></li>
        <li><div class="f-left">IBAN/BBAN</div><div class="f-right">:&nbsp<span data-bind="source:selectedAccount.IBAN_BBAN"></span></div></li>
        <li><div class="f-left">Available Balance</div><div class="f-right">:&nbsp<span data-bind="source:selectedAccount.availableBalance"></span></div></li>
        <li><div class="f-left">Current Balance</div><div class="f-right">:&nbsp<span data-bind="source:selectedAccount.currentBalance"></span></div></li>
       
    </ul>
    
    <div style="width:100%;height:20px;"></div>
    
     <div id="scrollview-container" >
                <div id="accounts-scrollview"
                     data-role="scrollview" 
                     data-bind="source: accountsData" 
                     data-template="scrollview-template"
                     data-page="0"
                     data-content-height="5em"
                     data-change="app.accountsOnlyService.viewModel.pageChange">
                </div>

     </div>
<div style="width:100%;height:20px;"></div>
     <div class="buttonArea">
                    <input type="submit" id="request-full-statement" data-bind="click:requestFullStatement" data-role="button"  class="log-in-button" value="Full Statement" />
                    <input type="submit" id="request-full-statement" data-bind="click:requestMiniStatement" data-role="button"  class="log-in-button" value="Mini Statement" />
                   
       </div>
    
</div>

<style>
    
    #bi-view li:nth-child(odd){
        background:#eee;
    }
    
    .f-left{
        width:30.5%;
      float:left;  
     font-size: 0.7em;
    }

    .f-right{
    /* float:left;  */
     font-weight:bold;
       font-size: 0.7em; 
    }
    
</style>



<div data-role="layout" data-id="balance-inquiry-layout">

        <!--Header-->
        <div data-role="header">
            <div data-role="navbar">
                <span data-role="view-title" id="viewTitle" >&nbsp;</span>
                  <a data-role="button" data-rel="drawer" href="#my-drawer" data-icon="drawer-button" data-align="left"></a>
            <!--<a data-role="backbutton" data-align="left">Back</a>-->
            </div>
        </div>

        <!--Footer-->
        
    </div>

<!-- old view -->
<div 
    data-model="app.accountsOnlyService.viewModel" 
     data-role="view" 
     id="bi-view"
     data-before-show="beforeViewShow"
     data-layout="goback-layout"
    >
    
    
    
    
    
    <div class="bi-container">

        
        <div id="bi-upper-div" overflow-y: auto;>

            <div id="account-details-container" >
                <div data-bind="source:selectedAccount" data-template="accountList-template"></div>
            </div>
           
        </div>
        <div id="bi-lower-div">
            <div id="scrollview-container" >
                <div id="accounts-scrollview"
                     data-role="scrollview" 
                     data-bind="source: accountsData" 
                     data-template="scrollview-template"
                     data-page="0"
                     data-content-height="5em"
                     data-change="app.accountsOnlyService.viewModel.pageChange">
                </div>

            </div>

        </div>
       <div class="buttonArea">
                    <input type="submit" id="request-full-statement" data-bind="click:requestFullStatement" data-role="button"  class="log-in-button" value="Full Statement" />
                    <input type="submit" id="request-full-statement" data-bind="click:requestMiniStatement" data-role="button"  class="log-in-button" value="Mini Statement" />
                   
       </div>

    </div>

    <script type="text/x-kendo-template" id="accountList-template" >
       
        <ul data-role="listview" data-style="inset" >
        <li>#:type#</li>
        <li>#:accountNumber#</li>
        <li style="font-size: 15px">#:IBAN_BBAN#</li>
        <li>Available Balance : <span></span>#:availableBalance#&nbsp#:currency#</li>
        <li>Current Balance &nbsp &nbsp  :<span> </span>#:currentBalance#&nbsp#:currency#</li>
        </ul>
    </script>

    <script id="scrollview-template" type="text/x-kendo-template"><div data-role="page" data-accountNo="#= accountNumber #" class="photo" >
        <h4>#= type #</h4>
        
        </div>
    </script>

</div>
<script type="text/javascript">
    beforeViewShow = function(e) {
        console.log('beforeShow');
    };        
</script>