<div data-role="view" id="activateCard"  data-layout="goback-layout" >
    <div class="page-name">Activate Cash Card </div>
    
     <div class="center-con">
       <!-- <input placeholder="Subject">
    
         -->
         Select the Card you wish to activate 
         <div style="height:20px"></div>
        <select id="styled-select">
            <option> Cash Card </option>
            
        </select>
         
         
         <div style="height:200px"></div>
         <input class="log-in-button" value="Activate"> 
    
</div>
</div>