<div data-role="view" id="activateCard"  data-layout="goback-layout" dir="rtl" >
    <div class="page-name" style="margin-right:20px;" >تفعيل بطاقة كاش كارد</div>
    
     <div class="center-con">
       <!-- <input placeholder="Subject">
    
         -->
         اختار البطاقة التي تريد تفعيلها 
         <div style="height:20px"></div>
        <select id="styled-select">
            <option> كاش كارد </option>
            
        </select>
         
         
         <div style="height:200px"></div>
         <input class="log-in-button" value="تفعيل"> 
    
</div>
</div>