<div data-role="view" id="addBalanceToCardView"  data-layout="goback-layout" data-model="app.dropDownService.viewModel">
      <div class="page-name">Add Balance to Cards </div>
    
    <div class='main-text'>Transfer From</div>
    <p>

        <select id="accounts-list-drop-down" data-bind="source:accounts"  >

        </select>
    </p>

    <div class='main-text'>Transfer To</div>
    <p>

       <select id="accounts-list-drop-down" data-bind="source:cards"  >

        </select>
    </p>
    
    <form data-bind="events: { keyup: checkEnter }">
        <ul data-role="listview" data-style="inset" data-bind="invisible: isLoggedIn">
            <li>
                <label>
                   <div class='main-text'> Amount</div>
                    <input type="number" autocorrect="off" autocapitalize="off"  placeholder="Enter amount here" />
                </label>
            </li>

        </ul>

        <div class="buttonArea">
           <!-- <input type="submit" data-rel="modalview" id="login" data-role="button"  href="#modalview-login"  class="log-in-button" value="Transfer" />-->
          <input type="submit" data-rel="modalview" id="login" data-role="button"  class="log-in-button" value="Add Balance" />
        </div>
    </form>
    
    
    
    
</div>