
<div data-role="view" id="autoamaticPaymentsView"  data-layout="transfers-layout" >
    <div class="page-name" style="text-align:right; margin-right:25px;">الدفعات الدورية</div>
    <div class="center-con">
        <!--<a data-role="button" data-icon="add" value="Add New" href="views/addAutomaticPaymentView.html" style="text-align:center;float:left">Add New</a>-->

    </div>

    <ul data-role="listview" data-source="aPayments" data-template="automatic-payment" class="inboxList" style="text-align: right;"></ul>
</div>

<script type="script/x-kendo-template" id="automatic-payment">
    <div id="#:ID#">

        <h2>#: Description#</h2>
        <p style="font-weight:bold; text-align: right;">
            دفع من :<span style="color:#:dateColor#; <!-- background-color: rgb(219, 226, 228);-->"> #: PayFrom# </span>حتى <span style="color:#:dateColor#;<!-- background-color: rgb(219, 226, 228);-->">#: PayUntil#</span>
        </p>
        <h3 style="color:#:statusColor#; text-align:right;">
            #:Status#&nbsp&nbsp&nbsp: الحالة
            <a style="float:left" data-role="button" >احذف</a>
        </h3>
    </div>
</script>
    











<script>
    dcolor = "black";
    
    var aPayments = [{
            ID:"1",
            Description:"Pay My Home Phone bill",
            PayFrom:"01/01/2014",
            PayUntil:"01/10/2014",
            Status:"Working",
            statusColor:"green",
            dateColor:dcolor
    
        },{
            ID:"1",
            Description:"My Master Card",
            PayFrom:"01/05/2014",
            PayUntil:"01/11/2014",
            Status:"Pending",
            statusColor:"red",
            dateColor:dcolor
    
        },{
            ID:"1",
            Description:"Pay Maid",
            PayFrom:"01/01/2014",
            PayUntil:"01/10/2014",
            Status:"Working",
            statusColor:"green",
            dateColor:dcolor
        }
    ];    
</script>

<style>
    
    #autoamaticPaymentsView ul
    {background-color: rgb(219, 212, 212);}
    
    
</style>


<div data-role="layout" data-id="transfers-layout">

    <!--Header-->
    <div data-role="header" style="background-color:gray;border:none">
        <div data-role="navbar" style="height:35px">

            <a  id="drawer-button" data-role="button" data-rel="drawer" href="#my-drawer" data-icon="drawer-button" data-align="right" style="color:#c1c1c1"></a>
            <a  id="favorite-button" data-role="button" class="km-button" data-icon="favorites" data-align="left" style="background-color:;color:#c1c1c1" data-click="app.transferCodeService.viewModel.checkTransfersCanFavorite"></a>

            <div data-role="button" id="header-logo-container" data-rel="drawer" href="#my-drawer" ></div>
            <!--<span data-role="view-title" id="viewTitle" >&nbsp;</span>-->
            <!--  <a data-role="backbutton" data-align="right">Back</a>-->
        </div>
    </div>

    <footer data-role="footer">
        <div data-role="tabstrip">
            <a data-icon="trans-a-e" href="views/transfersView.html">تحويل العملات</a>
            <a data-icon="trans-d-e" href="views/dAccountTransferView.html">التحويل للأخرين</a>
            <a data-icon="periodic-e" href="views/automaticPaymentsView.html">الدفعات الدورية</a>

        </div>
    </footer>

</div>




<div data-role="modalview" id="modalview-login" style="width: 90%;">
    <div data-role="header">
        <div data-role="navbar">
            <span>Login</span>
            <a data-click="closeModalViewLogin" data-role="button" data-align="right">Cancel</a>
        </div>
    </div>

    <ul data-role="listview" data-style="inset">
        <li><label for="username">Username: <input type="text" id="username" /></label></li>
        <li><label for="password">Password: <input type="password" id="password" /></label></li>
    </ul>
    <a data-click="closeModalViewLogin" id="modalview-login-button" type="button" data-role="button">Login</a>
    <a data-click="closeModalViewLogin" id="modalview-reg-button" type="button" data-role="button">Register</a>
</div>






