<div data-role="view" id="CardsMenuView"  data-layout="level-one-layout">

    <div class="page-name">Cards View </div>
    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="cards-e" href="views/VisaElectronView.html">Visa Electorn</a>
        </li>
        <li>
            <a  data-icon="cards-e" href="views/CreditCards.html">Credit Card</a>
        </li>
        <li>
            <a  data-icon="cards-e" href="views/CashCardView.html">Cash Card</a>
        </li>
        
       
       
    </ul>
    
    
</div>