<div data-role="view" id="cardsExtra"  data-layout="goback-layout" >
    <div class="page-name">Extra Cards Services</div>
    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="play" href="views/whereDoesMyCardWorkView.html">Where does my cards work ?</a>
        </li>
        <li>
            <a  data-icon="history" href="views/cardsIneternationlFees.html">Cards Internationl Fees</a>
        </li>
        <!--<li>
            <a  data-icon="contacts" href="views/openMyCardsInCourntries.html">Open My Cards in Courntries</a>
        </li>
        <li>
            <a  data-icon="featured" href="views/closeMyCardsInCournties.html">Close My Cards in Courntries</a>
        </li>-->
    </ul>
</div>