<div data-role="view" id="CashCardView"  data-layout="goback-layout" dir="rtl">
<div class="page-name">كاش كارد</div>
     
    

    <ul data-role="listview" data-style="inset">

        <li>
		<a  data-icon="request-e" href="views/requestCashCard.html"><span style="margin-right:10px;"> اطلب بطاقة</span></a>
        </li>
        <li>
		<a data-icon="activate-e" href="views/activateCard.html"><span style="margin-right:10px;"> تفعيل بطاقة جديدة </span></a>
        </li>
         <li>
  		<a  data-icon="history" href="views/addBalanceToCard.html"><span style="margin-right:10px;"> اعادة شحن / اضافة رصيد</span></a>
        </li>
         <li>
		<a  data-icon="stop-e" href="views/reportStolenCard.html"><span style="margin-right:10px;"> ايقاف / التبليغ عن بطاقة مسروقة</span></a>
        </li>
       
    </ul>
    
</div>
