<div data-role="view" id="settingsView"  data-layout="goback-layout" data-model="app.dropDownService.viewModel"  >
    <div class="page-name">Change Bank /Account Card Name</div>
    
    
    <div class="main-text">Current Account Name</div>
     
    <div class="center-con">
    <select  data-bind="source:accounts">

     </select>
    
     <input type="text"  class="log-in-text-area" placeholder="New Name" style="text-align:center" />
    
     <input class="log-in-button" data-role="button" id="login"  value="Save Changes"  />
    
    </div>
</div>