<div data-role="view" id="AlertsSettingsView"  data-layout="goback-layout" dir="rtl">
    <div class="page-name">تغيير خيارات التنبيهات</div>
    
    
    <ul data-role="listview" data-style="inset" data-type="group">
        

        <li>التنبيهات
            <ul>
                <li> <input data-role="switch" id="email-switch" checked="checked;" /><span class="space_1"> تلقي تنبيهات</span></li>
               
            </ul>
        </li>
        <li>إعلانات
            <ul>
                <li><input data-role="switch" id="email-switch" checked="checked" /><span class="space_1">تلقي إعلانات البنك</span></li>
               
            </ul>
        </li>

        
    </ul>

   
    <div class="center-con">
    
    </div>
    
    
    
    
    
    
    
</div>



<script>
    function mobileSwitchInit() {
        $("#wink-switch").kendoMobileSwitch();

        $("#subscription-switch").kendoMobileSwitch({
            checked: true,
            onLabel: "YES",
            offLabel: "NO"
        });
    }
</script>

<style scoped>
#switch-home h2 {
    display: inline-block;
    font-size: 1.1em;
    margin: 1.5em 0 0 .7em;
}
#switch-home h2 span {
    display: block;
    clear: both;
    font-size: 1.8em;
    margin: .1em 0 0 0;
}
#switch-home img {
    width: 5em;
    height: 5em;
    float: left;
    margin: 1em;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-border-radius: 4em;
    border-radius: 4em;
        
}
    
    .space_1{
          margin-right:150px; 
    }
</style>