<div data-role="view" id="changeCardCurrency"  data-layout="goback-layout" >
    <div class="page-name">Change Card Currency </div>
    
     <div class="center-con">
       <!-- <input placeholder="Subject">
    
         -->
         Select the Card you wish to activate 
         <div style="height:20px"></div>
        <select id="styled-select">
            <option>My  Mastercard Credit US$ </option>
            <option>My Easy Life ILS </option>
            <option>Visa electron Card US$ </option>
            
        </select>
         <div style="height:20px"></div>
     </div>
     
    
   
    <div class="center-con"> Select the currency 
         <div style="height:20px"></div>
        <select id="styled-select">
            <option> US$ </option>
            <option> ILS </option>
            <option> JOD</option>
            
        </select>
       
         
         <div style="height:150px"></div>
         <input class="log-in-button" value="Activate"> 
    
</div> </div> 
</div>