<div data-role="view" id="settingsView"  data-layout="goback-layout" dir="rtl"  >
    <div class="page-name">تغيير كلمة السر</div>
    
   
    <div class="center-con">
    
    <div class="main-text">ادخل كلمة السر القديمة</div>
   
        <input type="password"  class="log-in-text-area" placeholder="كلمة السر القديمة" style="text-align:center" />
    <div class="main-text">ادخل كلمة السر الجديدة</div>
        <input type="password"  class="log-in-text-area" placeholder="كلمة السر الجديدة" style="text-align:center" />
  <div class="main-text">اعيد ادخال كلمة السر الجديدة</div>
        <input type="password"  class="log-in-text-area" placeholder="كلمة السر الجديدة مرة اخرى" style="text-align:center" />
     
    
         <input class="log-in-button" data-role="button" id="login"  value="تغيير كلمة السر"  />
    
    </div>
    
    
    
    
    
    
    
</div>