<div data-role="view" id="settingsView"  data-layout="goback-layout" >
    <div class="page-name">Change Login Password</div>
    
   
    <div class="center-con">
    
    <div class="main-text">Enter your Old Password</div>
   
        <input type="password"  class="log-in-text-area" placeholder="Old Password" style="text-align:center" />
    <div class="main-text">Enter your New Password</div>
        <input type="password"  class="log-in-text-area" placeholder="New Password" style="text-align:center" />
  <div class="main-text">Enter your New Password again</div>
        <input type="password"  class="log-in-text-area" placeholder="New Password again" style="text-align:center" />
     
    
         <input class="log-in-button" data-role="button" id="login"  value="Change Password"  />
    
    </div>
    
    
    
    
    
    
    
</div>