<div data-role="view" id="settingsView"  data-layout="goback-layout" data-model="app.dropDownService.viewModel"  >
    <div class="page-name">تغيير اسم مستخدم الحساب</div>
    
    
    <div class="main-text">الاسم الحالي</div>
     
    <div class="center-con">
    <select  data-bind="source:accounts">

     </select>
    
     <input type="text"  class="log-in-text-area" placeholder="الاسم الجديد" style="text-align:center" />
    
     <input class="log-in-button" data-role="button" id="login"  value="حفظ"  />
    
    </div>
</div>