<div data-role="view" id="ChequesView"  data-layout="level-one-layout">
<div class="page-name">Cheques View</div>
    
    <ul class="special-list" data-role="listview" data-style="inset">
        <li></li>
         <li>
            <a  data-icon="request-e" href="views/requestChequeBookView.html">Request Check Book </a>
        </li>
        <li>
            <a  data-icon="stop-e" href="views/chequesView.html" disabled>Stop Check </a>
        </li>
        <li>
            <a  data-icon="inquiry-e" href="views/requestChequeBookView.html" >Check status enquiry </a>
        </li>
        <li>
            <a  data-icon="bookmarks" href="views/requestChequeBookView.html"> Seven year archive  </a>
        </li>
        
    </ul>
    
</div>

