<div data-role="view" id="ChequesView"  data-layout="level-one-layout">
<div class="page-name k-rtl">خدمات الشيكات</div>
    
    <ul class="special-list" data-role="listview" data-style="inset" style="margin-right: 0px;">
        <li></li>
         <li>
            <a  data-icon="request-e" href="views/requestChequeBookView.html" ><span style="float: right;">طلب دفتر شيكات</span></a>
        </li>
        <li>
            <a  data-icon="stop-e" href="views/chequesView.html" disabled><span style="float: right;">توقيف شيك</span></a>
        </li>
        <li>
            <a  data-icon="inquiry-e" href="views/requestChequeBookView.html" ><span style="float: right;">فحص حالة شيك </span></a>
        </li>
        <li>
            <a  data-icon="bookmarks" href="views/requestChequeBookView.html"> <span style="float: right;">ارشيف الشيكات  </span></a>
        </li>
        
    </ul>
    
</div>

