<div data-role="view" id="ChequesView"  data-layout="level-one-layout">
<div class="page-name k-rtl">خدمات الشيكات</div>
    
    <ul class="special-list" data-role="listview" data-style="inset">
        <li></li>
         <li>
            <a  data-icon="request-e" href="views/requestChequeBookView.html">طلب دفتر شيكات</a>
        </li>
        <li>
            <a  data-icon="stop-e" href="views/chequesView.html" disabled>توقيف شيك</a>
        </li>
        <li>
            <a  data-icon="inquiry-e" href="views/requestChequeBookView.html" >فحص حالة شيك </a>
        </li>
        <li>
            <a  data-icon="bookmarks" href="views/requestChequeBookView.html"> ارشيف الشيكات  </a>
        </li>
        
    </ul>
    
</div>

