<div data-role="view" id="creditCards"  data-layout="goback-layout">
<div class="page-name">Credit Cards</div>
     
    

    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="request-e" href="views/requestNewCardView.html">Request a Credit card </a>
        </li>
        <li>
            <a  data-icon="activate-e" href="views/activateCard.html">Activate a new card</a>
        </li>

         <li style= "color:#eeee">
            <a  data-icon="history" href="views/CreditCards.html"  disabled>Credit Settelment</a>
        </li>
         <li>
            <a  data-icon="stop-e" href="views/reportStolenCard.html">Stop/report stolen card</a>
        </li>
       
    </ul>
    
</div>