<div data-role="view" id="defineAPayee"  data-layout="goback-layout">
<div class="page-name">Define a Payee</div>
   
    
    
    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html" >Paltel: Bill Payment</a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">Hadara: Bill Payment</a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">Wataniya Mobile 1: Bill Payment</a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">Wataniya Mobile: Topup </a>
        </li> 
        
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">Reef: Loan Payment</a>
        </li>
         <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">Faten: Loan Payment</a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">Gift to Palestine: E-Invoice</a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">BZU University :Student Fee </a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">Birzeit university: Students Dues</a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">Add Friend : Transfer</a>
        </li>
        
        
    </ul> 
    
    
    
</div>

