<div data-role="view" id="defineAPayee"  data-layout="goback-layout" dir="rtl">
    <div class="page-name">تعريف المستفيد</div>

    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html" >
                <span style="margin-right:10px;" > بالتل : تسديد فاتورة</span>
            </a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">
                <span style="margin-right:10px;" >حضارة : تسديد فاتورة</span>
            </a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">
                <span style="margin-right:10px;" > الوطنية موبايل 1 : تسديد فاتورة</span>
            </a>
        </li>
        <li>

            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">
                <span style="margin-right:10px;" > الوطنية موبايل توب اب </span>
            </a>
        </li>

        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">
                <span style="margin-right:10px;" > Reef: دفعة قرض</span>
            </a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">
                <span style="margin-right:10px;" > فاتن: دفعة قرض </span>
            </a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">
                <span style="margin-right:10px;" > Gift to Palestine: E-Invoice</span>
            </a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">
                <span style="margin-right:10px;" > جامعة بيرزيت :رسوم الطالب </span>
            </a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">
                <span style="margin-right:10px;" > جامعة بيرزيت: مستحقات الطالب </span>
            </a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/definePaltelPaymentView.html">
                <span style="margin-right:10px;" > اضافة صديق : تحويل </span>
            </a>
        </li>

    </ul>

</div>

