<div data-role="view" id="aboutUsView"  data-layout="goback-layout">
<h4 class="page-name" style= "text-align: right; padding-right: 20px;">عن البنك </h4>
<p class="k-rtl">
   بنك فلسطين هو البنك الوطني الاول واكبر البنوك الوطنية ، تأسس عام 1960،وباشر اعماله بتاريخ 21 شباط / فبراير 1961 باعطاء قروض صغيرة للمشاريع والاعمال وقروض شخصية محدودة قصيرة الاجل ، ويعتبر بنك فلسطين الأكثر انتشارا في فلسطين من خلال شبكة مصرفية مكونة من 48 فرعاً ومكتباً ممتدة من جنين شمالاً حتى رفح جنوباً ، يقدم بنك فلسطين العديد من الخدمات المصرفية المتميزة التي تلبي حاجات العملاء وتوقعاتهم ، منها الخدمات المصرفية التي تتعلق بالافراد وخدمات الشركات، يمتلك بنك فلسطين طاقم اداري متميز وكفاءات مهنية عالية ويعمل في البنك حالياً أكثر 1200 موظف وموظفة.
 
 
تم إدراج البنك في بورصة فلسطين عام 2005 كشركة مساهمة عامة، وفي نهاية العام 2006 اسس بنك فلسطين شركة الوساطة للاوراق المالية الذراع الاستثماري للبنك التي اصبح لها ثلاثة فروع، الاول في مدينة غزة  والثاني في مدينة رام الله والفرع الثالث في خانيونس، وخلال فترة قصيرة استطاعت الشركة ان تصبح الشركة الاولى من حيث زيادة عدد الحسابات المفتوحة، والثالثة من حيث حجم التداول من بين عشر شركات وساطة مالية موجودة في فلسطين.
</p>
    
</div>


