<div data-role="view" id="aboutUsView"  data-layout="goback-layout">
<h4> About Bank Of Palestine</h4>
<p>
    Bank of Palestine (BoP) is the first and largest bank with a well-diversified branch network of 48 branches in Palestine, and a paid up capital of $134 million and assets of over $1.65 billion. Established in 1960, BoP has successfully expanded its presence and operations throughout the country and now has 1,200 employees serving more than 550,000 customers. BoP has around 20% market share of deposits and credit facilities in Palestine. Operating as a universal bank, BoP is engaged in retail, corporate, SME and Micro banking operations, with the largest card processing operations in Palestine. BoP is the sole agent for issuing and acquiring Visa and Master Card in Palestine with over 5,000 Point of Sale stations nationwide.
    
    
</p>
    
</div>


