<div data-role="view" id="infoView"  data-layout="goback-layout">
<h4 class="page-name" style= "text-align: right; padding-right: 20px;">المركز الرئيسي للادارة العامة </h4>

    <ul class="k-rtl">  
        <li>رام الله ، عين مصباح </li>
        <li>هاتف : 970 )02(  2965010</li>
        <li> فاكس : 970 )20( 2964703</li>
        <li>صندوق بريد : 471 ،رام الله</li>
        <li>بريد الكتروني :  cs@bankofpalestine.com</li>
        <li> Swift: PALSPS22  </li>
                  
    </ul>
    
</div>



