<div data-role="view" id="topUpJawwalView"  data-layout="goback-layout" data-model="app.dropDownService.viewModel">
    <div class="page-name">e-Top UP Wataniya Mobile </div>
    
    
    
    
    <form data-bind="events: { keyup: checkEnter }" >

        <h4>
           <div class="main-text"> Mobile Number</div>
            
        </h4>
        <div class="center-con">  
		0569223355
            
        </div>
       
        <br>
        <br>
        <ul data-role="listview" data-style="inset" >
           d
            <li>
          
                   <div class="main-text">  Amount in ILS</div>
                    
                  <input style="border:groove;" type="number" data-bind="value: password" placeholder="Amount" style="text-align:center"/>
               
            </li>
            
            
        </ul>
        <div class="buttonArea" >
            <input style="margin-top: 10px;" type="submit" id="login" data-role="button"  class="log-in-button" value="Top Up" />

        </div>
    </form>

</div>