<div data-role="view" id="eTopUpPaymentHistory"  data-layout="goback-layout">
    <div class="page-name">E-Top up Payment History</div>

    <ul data-role="listview" data-style="inset" class="bills-list">
       
       
        <li style="background-color:#eee">
            
                <div>
                    <ul>
                        <div class="bill-detail"><span class="f-left-ven-e">Time </span><span class="f-right-ven-e">:&nbsp 10:05 am</span></div>
                        <div class="bill-detail"><span class="f-left-ven-e">Date #</span><span class="f-right-ven-e">:&nbsp 20/10/2013</span></div>
                        <div class="bill-detail"><span class="f-left-ven-e">Number</span><span class="f-right-ven-e">:&nbsp 0561111111</span></div>
                        <div class="bill-detail"><span class="f-left-ven-e">Amount </span><span class="f-right-ven-e">:&nbsp 20.00 ILS</span> </div>
                    </ul>

                </div>
            
        </li>

        <li>
            
                <div>
                    <ul>
                        <div class="bill-detail"><span class="f-left-ven-e">Time </span><span class="f-right-ven-e">:&nbsp 08:15 pm</span></div>
                        <div class="bill-detail"><span class="f-left-ven-e">Date #</span><span class="f-right-ven-e">:&nbsp 05/10/2013</span></div>
                        <div class="bill-detail"><span class="f-left-ven-e">Number</span><span class="f-right-ven-e">:&nbsp 0562222222</span></div>
                        <div class="bill-detail"><span class="f-left-ven-e">Amount </span><span class="f-right-ven-e">:&nbsp 15.00 ILS</span> </div>
                    </ul>

                </div>
            
        </li> 
        
        
        
        
       <!-- <li>
            <a>
                <div>
                    <ul>
                        <li>Time : 10:05 am</li>
                        <li>Date :20/10/2013 </li>
                        <li>Number :0561111111</li>
                        <li>Amount :20.00 ILS</li>

                    </ul>

                </div>
            </a>
        </li>

        <li>
            <a>
                <div>
                    <ul>
                        <li>Time : 08:15 pm</li>
                        <li>Date :05/10/2013 </li>
                        <li>Number :0562222222</li>
                        <li>Amount :15.00 ILS</li>

                    </ul>
                </div>
            </a>
        </li>-->
    </ul>

</div>



<style>

  .f-left-ven-e {
width: 50%;
float: left;
font-size: 0.9em;
}
    
    .f-right-ven-e {

font-size: 0.9em;
}
    
</style>