<div data-role="view" id="eTopUpView"  data-layout="level-one-layout">

    <div class="page-name">E Top Up </div>
    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="play" href="views/eTopUpAccountsView.html">Top-Up mobile</a>
        </li>
        <li>
            <a  data-icon="history" href="views/eTopUpPaymentHistoryView.html">Payment History</a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/defineETopUpPayeeView.html">Define Top-UP service</a>
        </li>
        
        <li>
            <a  data-icon="contacts" href="views/requestETopUpStatusView.html">Top-UP service request Status</a>
        </li>
       
    </ul>
    
    
</div>