<div data-role="view" id="topUpAccountsView"  data-layout="goback-layout" dir="rtl">
<div class="page-name">تعبئة رصيد</div>
     
    

    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="play" href="views/eTopUpPaymentView.html"><span class="sp">الوطنية موبايل</span> </a>
        </li>
        <li>
            <a  data-icon="history" href="views/eTopUpPaymentView.html"><span class="sp">جوال</span></a>
        </li>
       
    </ul>
    
</div>

<style>
    .sp{
        margin-right:20px;
    }
</style>