<div data-role="view" id="exchangeRateView"  data-layout="goback-layout" dir="rtl" >
    <div class="page-name">اسعار العملات</div>
    
    <table>
    <caption><h5>(شاقل اسرائيلي)</h5></caption>
    <tr>
    
        <th>سعر الشراء</th>
        <th>سعر البيع</th>
         <th>العمولة</th>
    </tr>
    <tr>
       
        <td>3.47</td>
        <td>3.46</td>
         <td>دولار امريكي</td>
    </tr>
    <tr>
        
        <td>4.90</td>
        <td>4.89</td>
        <td>الدينار الاردني</td>
    </tr>
    <tr>
    
        <td>4.78</td>
        <td>4.77</td>
         <td>اليورو</td>
    </tr>
    <tr>
   
        <td>0.49</td>
        <td>0.48</td>
       <td>الجنيه المصري</td>
    </tr>
</table>
</div>

<style>
    #exchangeRateView tr td{
        text-align:center;
        margin-right:5px;
    }
    
    
    
</style>