<div data-role="view" id="exchangeRateView"  data-layout="goback-layout" >
    <div class="page-name">Currency Exchange Rates </div>
    
    <table>
    <caption><h5>(Israeli New Sheqel)</h5></caption>
    <tr>
        <th>Currency</th>
        <th>Buying Price</th>
        <th>Selling Price</th>
    </tr>
    <tr>
        <td>US dollar</td>
        <td>3.47</td>
        <td>3.46</td>
    </tr>
    <tr>
        <td>Jordanian Dinar</td>
        <td>4.90</td>
        <td>4.89</td>
    </tr>
    <tr>
        <td>Euro</td>
        <td>4.78</td>
        <td>4.77</td>
    </tr>
    <tr>
        <td>Egyptian Pound</td>
        <td>0.49</td>
        <td>0.48</td>
    </tr>
</table>
</div>

<style>
    #exchangeRateView tr td{
        text-align:center;
    }
    
</style>