<div data-role="view" id="feedBackView"  data-layout="goback-layout" >
    <div class="page-name">Feed back </div>
    <div class="center-con">
       <!-- <input placeholder="Subject">
        -->
        <select id="styled-select">
            <option>Select feedback type</option>
            <option>Troubleshooting</option>
            <option>Suggestion</option>
            <option>Error</option>
            
        </select>
        
    <textarea id="feedback-ta"></textarea>
   
       <input class="log-in-button" value="submit"> 
    </div> 
    </div>
<style>
    #feedback-ta
    {
        width: 90%;
        height: 200px;
    }
    
    
    #styled-select
    {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
       /* height: 30px;
        font-size: 1.3em;
        border-style: double;*/
        border-color: #df0078;
    }
</style>