<div data-role="view" id="infoView"  data-layout="goback-layout" dir="rtl">
<br>
    <div class="main-text">مكتب رئيس الإدارة العامة</div>

<ul style="font-weight:bold">  
<li>رام الله ،عين مصباح</li>
<li> هاتف :٢٩٦٥٠١٠-٠٢-٩٧٠</li> 
 <li>فاكس:٢٩٦٤٧٠٣-٠٢-٩٧٠</li>
 <li> بريد :رام الله ،٤٧١</li>
<li>بريد الكتروني: cs@bankofpalestine.com</li>
<li> Swift: PALSPS22  </li>

</ul>

    
    <ul data-role="listview" data-style="inset">
        <a  href="https://www.facebook.com/bop1960" >
        <li id="facebook-li">
           
        </li></a>
        <a href="https://twitter.com/BankOfPalestine">
        <li id="twitter-li">
            
        </li></a>
        <li>
            
        </li>
        
    </ul>
</div>

<style>
    #facebook{
       /* background:red;*/
        background-image: url(../../styles/images/gemzo-icon.jpg);
        height:50px;
        width:100px;
        background-size:100 100;
        
    }
    .main-text{
        margin-right:10px;
    }
    
</style>

<div data-role="view" id="infoView"  data-layout="landing-page-layoute" data-bounce-velocity-threshold="0">

    
    <div data-role="scrollview" >
    <div data-role="page" >This page will stretch to fit the entire view height</div>
    <div data-role="page">This page will stretch to fit the entire view height</div>
    <div data-role="page">This page will stretch to fit the entire view height</div>
  </div>
    
    
    
    
    <style>
        #page1{background-color:blue}
    </style>
    
    
    
    
    
    
    
    
    
    </div>
    
    <strong>Current Page Index: </strong>
    <span  id="output"> 0</span>

    <div id="my-container">
        
        
        <div data-role="scrollview">
            
            <div ><h1>page 1</h1> </div>
            <div ><h1>page 1</h1> </div>
            <div ><h1>page 1</h1> </div>
            
            
            
        </div>
        
        <!-- id=my-1st-container>
             <div data-role="page" id="photo1">
           <h1> photo 1</h1>
            
            
        </div>
            
            
             
        </div>
           
            <div id="p-con">
                  
                
            </div>-->
            
        </div>

        
          
       
      
        
        
        

    
   <!-- <div data-role="scrollview" data-duration="3000"
         data-change="pageChange"
         style="padding-top: 15px;">
        
        <div data-role="page" id="photo1">
           <h1> photo 1</h1>
            
            
        </div>

        <div data-role="page" id="photo2">
           
        </div>
        <div data-role="page" id="photo3">
            
        </div>
    </div>-->


<style>
    
    #facebook-li{
        height: 50px;
background-image: url(styles/images/facebook1.jpg);
background-repeat: no-repeat;
background-size: 40% 90%;
background-position: center;
    }
    
    #twitter-li{
        height: 50px;
background-image: url(styles/images/twitter1.jpg);
background-repeat: no-repeat;
background-size: 40% 90%;
background-position: center;
    }
    
    #p-con{
        position:absolute;
        height:100%;
        width:100%;
        position:absolute;
        background-color:Magenta;
        background-image: url(../../styles/images/lp-background.jpg);}
    
    
    #my-container{
        position:absolute;
        background-color:green;
        width:100%;
        height:100%;
    }
    
    #my-1st-container{
      
       background-repeat:no-repeat;
        position:relative;
        background-color:red;
        width:100%;
        height:100%;
    }
    
    
  
    
    #photo2{
      background-color:pink;
      
      
      
  }
    
    
    </style>

<!--<div data-role="view" id="infoView"  data-layout="back-to-main-layout">
<h4> General Management Head Office</h4>

<ul>  
<li>Ramallah, Ain Misbah</li>
<li>Tel: 970 (02) 2965010</li>
<li> Fax: 970 (02) 2964703</li>
<li>P.O. Box: 471, Ramallah</li>
<li>Email: cs@bankofpalestine.com</li>
<li> Swift: PALSPS22  </li>

</ul>

</div>



-->