<div data-role="view" id="interestRateView"  data-layout="goback-layout" dir="rtl">
    <div class="page-name">اسعار الفائدة </div>
    
    <table>
    <caption><h5>اسعار الفائدة</h5></caption>
    <tr>
        <td class="accounts">حساب الايداع&nbsp;</td>
        <td class="accounts">شاقل اسرائيلي</td>
        <td class="accounts">دينار اردني</td>
        <td class="accounts">دولار امريكي</td>
        <td class="accounts">يورو</td>
    </tr>
    <tr>
        <td class="due">اقل من شهر</td>
        <td>٪٠.٥٠</td>
        <td>٪٠.٤٥</td>
        <td>٪٠.٠٥</td>
        <td>٪٠.٢٠</td>
    </tr>
    <tr>
        <td class="due">من شهر الى ٣ شهور</td>
        <td>٪٠.٥٥</td>
        <td>٪٠.٥٢</td>
        <td>٪٠.٠٨</td>
        <td>٪٠.٣٢</td>
    </tr>
    <tr>
        <td class="due">من&nbsp;٣&nbsp; الى ٦ شهور</td>
        <td>٪٠.٦٠</td>
        <td>٪٠.٦٠</td>
        <td>٪٠.١٠</td>
        <td>٪٠.٤٥</td>
    </tr>
    <tr>
        <td class="due">من&nbsp; ٦ &nbsp;الى ٩ شهور </td>
        <td>٪٠.٦٠</td>
        <td>٪٠.٦٥</td>
        <td>٪٠.٢٠</td>
        <td>٪٠.٥٥</td>
    </tr>
    <tr>
        <td class="due">من&nbsp;٩&nbsp;١٢ شهر</td>
        <td>٪٠.٦٠</td>
        <td>٪٠.٧٥</td>
        <td>٪٠.٥٥</td>
        <td>٪٠.٦٠</td>
    </tr>
</table>
    
    
    
    
</div>


<style>
    
    #interestRateView table
    {
       font-size: x-small; 
    }
    
   #interestRateView table tr td:nth-child(1)
    {
        width:30%;
      /* background:red;*/
    }
    .accounts{
        padding:10px;
    } 
    .due{
        padding-right:6px;
    }
    
    
    
    
</style>