<div data-role="view" id="interestRateView"  data-layout="goback-layout" >
    <div class="page-name">Interest Rate View</div>
    
    <table>
    <caption><h5>Interest Rates</h5></caption>
    <tr>
        <td>Deposit Accounts&nbsp;</td>
        <td>ILS</td>
        <td>JOD</td>
        <td>USD</td>
        <td>EUR</td>
    </tr>
    <tr>
        <td>Less than One Month</td>
        <td>0.50%</td>
        <td>0.45%</td>
        <td>0.05%</td>
        <td>0.20%</td>
    </tr>
    <tr>
        <td>Due Over 1 Months till 3 Months</td>
        <td>0.55%</td>
        <td>0.52%</td>
        <td>0.08%</td>
        <td>0.32%</td>
    </tr>
    <tr>
        <td>Due Over&nbsp;3 Months till&nbsp;6 Months</td>
        <td>0.60%</td>
        <td>0.60%</td>
        <td>0.010%</td>
        <td>0.45%</td>
    </tr>
    <tr>
        <td>Due Over&nbsp;6 Months till&nbsp;9 Months</td>
        <td>0.60%</td>
        <td>0.65%</td>
        <td>0.20%</td>
        <td>0.55%</td>
    </tr>
    <tr>
        <td>Due Over&nbsp;9 Months till&nbsp;12 Months</td>
        <td>0.60%</td>
        <td>0.75%</td>
        <td>0.55%</td>
        <td>0.60%</td>
    </tr>
</table>
    
    
    
    
</div>


<style>
    
    #interestRateView table
    {
       font-size: x-small; 
    }
    
   #interestRateView table tr td:nth-child(1)
    {
        width:30%;
      /* background:red;*/
    }
    
    
    
    
    
</style>