<div data-role="view" id="wasataView"  data-layout="goback-layout" >
    <div class="page-name">Currency Exchange Rates </div>
 
    <table>
        <tr>
            <td>
                The value of the loan
            </td>
            <td>
                <input>
            </td>
        </tr>
        
        <tr>
            <td>
                Intrest rate
            </td>
            <td>
                <input>
            </td>
        </tr>
        
        <tr>
            <td>
                Period (years)
            </td>
            <td>
                <input>
            </td>
        </tr>
                
    </table>
    <div style="height:30px"></div>
<div class="center-con"><button class="log-in-button" >Calculate</button></div>
    
    <div style="height:30px"></div>
    <table>
        <tr>
            <td>
                Monthly payment
            </td>
            <td>
                <input>
            </td>
        </tr>
        
        <tr>
            <td>
                The annual interest rate
            </td>
            <td>
                <>
            </td>
        </tr>
        
        <tr>
            <td>
               Monthly commission
            </td>
            <td>
                <input>
            </td>
        </tr>
        
        
        
    </table>
    
</div>