<div data-role="view" id="wasataView"  data-layout="goback-layout" dir="rtl">
    <div class="page-name">حاسبة القروض </div>
 
    <table>
        <tr>
            <td>
              قيمة القرض
            </td>
            <td>
                <input>
            </td>
        </tr>
        
        <tr>
            <td>
              سعر الفائدة
            </td>
            <td>
                <input>
            </td>
        </tr>
        
        <tr>
            <td>
   المدة - بالسنة
            </td>
            <td>
                <input>
            </td>
        </tr>
                
    </table>
    <div style="height:30px"></div>
<div class="center-con"><button class="log-in-button" >احسب</button></div>
    
    <div style="height:30px"></div>
    <table>
        <tr>
            <td>
                الدفعات الشهرية
            </td>
            <td>
                <input>
            </td>
        </tr>
        
        <tr>
            <td>
               الفائدة السنوية
            </td>
            <td>
                <>
            </td>
        </tr>
        
        <tr>
            <td>
              العمولة الشهرية
            </td>
            <td>
                <input>
            </td>
        </tr>
        
        
        
    </table>
    
</div>
<style>
    table td{
       padding-right:10px;
    }
</style>