<div data-role="view" id="loyatlyPointBlance"  data-layout="goback-layout" dir="rtl">
<div class="page-name">رصيد نقاطي</div>
     
    

 
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-wwil{font-weight:bold;background:#63106c;color:#ffffff; 
		margin-top:0px 
}
</style>
<table class="tg" style="margin-right:40px;">
  <tr>
    <th class="tg-wwil">اسم التاجر</th>
    <th class="tg-wwil">مجموع النقاط</th>
    <th class="tg-wwil">تاريخ الانتهاء</th>
  </tr>
  <tr>
    <td class="tg-031e">بنك فلسطين</td>
    <td class="tg-031e">500</td>
    <td class="tg-031e">13/7/2015</td>
  </tr>
  <tr>
    <td class="tg-031e">الوطنية موبايل</td>
    <td class="tg-031e">700</td>
    <td class="tg-031e">12/1/2015</td>
  </tr>
  <tr>
    <td class="tg-031e">المجموع</td>
    <td class="tg-031e">1200</td>
    <td class="tg-031e"></td>
  </tr>
</table>

    
</div>