<div data-role="view" id="loyatlyPointBlance"  data-layout="goback-layout">
<div class="page-name">My Points Balance</div>
     
    

 
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-wwil{font-weight:bold;background:#63106c;color:#ffffff; 
		margin-top:0px 
}
</style>
<table class="tg">
  <tr>
    <th class="tg-wwil">Vendor Name</th>
    <th class="tg-wwil">Total Points</th>
    <th class="tg-wwil">Expiry Date </th>
  </tr>
  <tr>
    <td class="tg-031e">BOP</td>
    <td class="tg-031e">500</td>
    <td class="tg-031e">13/7/2015</td>
  </tr>
  <tr>
    <td class="tg-031e">Wataniya Mobile</td>
    <td class="tg-031e">700</td>
    <td class="tg-031e">12/1/2015</td>
  </tr>
  <tr>
    <td class="tg-031e">Total</td>
    <td class="tg-031e">1200</td>
    <td class="tg-031e"></td>
  </tr>
</table>

    
</div>