<div data-role="view" id="loyaltyPoints"  data-layout="level-one-layout" dir="rtl">
    <div class="page-name" style="text-align: right; margin-right: 25px;" >نقاط الولاء</div>

    <ul data-role="listview" data-style="inset" style="text-align: right; margin-right: 20px;">

        <li>
            <a  data-icon="bill-e" href="views/loyaltyPointsBalance.html">  رصيد نقاطي</a>
        </li>
         <li>
            <a data-icon="topup-e" href="views/reedemItemview.html"> <span class="mar-right-10" >  استبدال</span></a>  
        </li>
    </ul>
</div>
  