<div data-role="view" id="moreServicesView"  data-layout="level-one-layout" dir="rtl" >
    <div class="page-name">خدمات اخرى </div>
    <ul data-role="listview" data-style="inset">

        
        <li>
            <a class="drawer-sub-menu"  data-icon="info" href="views/infoView.html"> استعلامات </a>
        </li>
        <li>
            <a class="drawer-sub-menu"  data-icon="globe" href="views/locationsView.html"> مواقع </a>
        </li>
        <li>
            <a class="drawer-sub-menu"  data-icon="fastforward" href="views/exchangeRateView.html"> اسعار تحويل العمولات </a>
        </li>
        <li>
            <a class="drawer-sub-menu"  data-icon="featured" href="views/intrestRateView.html"> اسعار الفائدة </a>
        </li>
        <li>
            <a class="drawer-sub-menu"  data-icon="feedback-e" href="views/feedBackView.html"> شكاوي و اقتراحات </a>
        </li>      
        <li>
            <a class="drawer-sub-menu"  data-icon="wasata-e" href="views/wasata.html"> وساطة </a>
        </li>
         <li>
            <a class="drawer-sub-menu"  data-icon="action" href="views/loanCal.html"> حاسبة القروض </a>
        </li>
         
    </ul>
    
</div>