 <div data-role="view" data-title="Inbox" id="actionsheet-view" data-layout="goback-layout">
    <div class=""></div>
     <h3 id="actionResult"></h3>
    <ul data-role="listview" data-source="inbox" data-template="inboxItem2" class="inboxList"></ul>

    <ul data-role="actionsheet" id="inboxActions" data-open="onOpen" data-popup='{"direction": "left"}'>
        <li class="km-actionsheet-title">Monday Meeting:</li>
        <li><a href="#" data-action="reply">Reply</a></li>
        <li><a href="#" data-action="replyAll">Reply All</a></li>
        <li><a href="#" data-action="archive">Archive</a></li>
    </ul>
</div>

<script type="script/x-kendo-template" id="inboxItem2">
    <div id="#:ID#" style="text-align:right;">
    <h3 class="time">#: Time#</h3><h3>#: From #</h3>
   <!-- <a class="reply"
        data-role="button"
        data-rel="actionsheet"
        href="\\#inboxActions"
        data-actionsheet-context="#:ID#">Reply</a>-->
    <h2>#: Subject#</h2>
    <p>#: Text#</p>
    </div>
</script>

<script>
    
    var inbox = [
        {
            ID: 1,
            From: "عرض جديد",
            Subject: "حملة شهر المرأة",
            Text: "مع حملة شهر المرأة، ستدخلين السحب على بطاقات كاش بقيمة $١٠٠ لمجرد فتح حساب جديد بحد ادنى ١٠$ او تفعيل حسابك القديم خلال شهر آذار. للاستفسار يرجى التوجه لأقرب فرع",
            Time: ""
        },
        {
            ID: 2,
            From: "عرض جديد",
            Subject: "الاسبوع المصرفي للاطفال و الشباب",
            Text: "ندعوكم لزيارة بنك فلسطين انتم واطفالكم للمشاركة بالاسبوع المصرفي للاطفال والشباب من 16-20/3 الساعة 1.30 ظهرا",
            Time: ""
        },
        {
            ID: 3,
            From: "عرض جديد",
            Subject: "برنامج توفير بنك فلسطين",
            Text: "برنامج توفير بنك فلسطين وفروا وكل العيلة بتربح يوميا5000$لكل فرد من افراد عيلتكم وكلما زاد عدد حسابات افراد العيلةزادت الفرصةبالفوز للاستفسار يرجى زيارةاقرب فرع او الاتصال على 1700150150",
            Time: ""
        }
    ];

    function onOpen(e) {
        this.element.find(".km-actionsheet-title").text(e.target.next().text());
    }

    function reply(e) {
        $("#actionResult").html("Replying to message #" + e.context);
     

    function replyAll(e) {
        $("#actionResult").html("Replying to all in message #" + e.context);
    }

    function archive(e) {
        $("#actionResult").html("Archiving message #" + e.context);
    }
    
    }

</script>

<style scoped>
    .reply {
        float: right;
    }

    .inboxList
    {
        font-size: .8em;
    }
    
    .km-ios #actionsheet-view .km-listview
    {
        background: url(../../content/shared/images/patterns/pattern8.png);
    }

    .inboxList p,
    .inboxList h2,
    .inboxList h3
    {
        margin: 5px 2px;
    }

    .inboxList p,
    .inboxList h3
    {
        color: #777;
    }

    .inboxList h3.time
    {
        color: #369;
        color: #d6017f;
        float: left;
        margin-right: 10px;
    }

    #actionResult
    {
        padding: 10px;
        background: rgba(127,127,127,.5);
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: 0;
    }
    
    .km-ios #actionsheet-view .km-navbar
    {
        background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(255, 255, 255, 0.5)), color-stop(0.06, rgba(255, 255, 255, 0.45)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(1, rgba(100, 100, 100, 0))), url(../../content/shared/images/patterns/pattern7.png);
        background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.45) 6%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(100, 100, 100, 0)), url(../../content/shared/images/patterns/pattern7.png);
	}

    .km-ios #actionsheet-view .km-navbar .km-button
    {
        background-color: #4A88B5;
    }
	
	.km-ios #actionsheet-view .km-content .km-button {
        background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(255, 255, 255, 0.5)), color-stop(0.06, rgba(255, 255, 255, 0.45)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(1, rgba(100, 100, 100, 0))), url(../../content/shared/images/patterns/pattern1.png);
        background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.45) 6%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(100, 100, 100, 0)), url(../../content/shared/images/patterns/pattern1.png);
	}
	.km-tablet .km-ios #actionsheet-view .km-view-title {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.5);
    }
    
   #actionsheet-view km-ios7 .k-list, .km-ios7 .k-slider, .km-ios7 .km-widget {
color:#7b227e;
}
 
    
 #actionsheet-view  li  {
 /*  background-color: rgb(233, 221, 221);
   background-color: #cfe2e9;*/
     background-color:#eee;
      
  }
  
   
  
    
</style>