<div data-role="view" id="paltelPayedBillsView"  data-layout="goback-layout">
<div class="page-name">Paltel Bills - My home Phone - 022967757</div>
<div class="page-name" style="color:gray;"> here is the list of your payed bills </div>
    
    
    
     
    <ul data-role="listview" data-style="inset" class="bills-list" id="paltel-bills-list">

        <li><a>
            <div>
                <ul>
                     <div class="bill-detail"><span class="f-left">Due Date  </span><span class="f-right">:&nbsp 01/11/2013</span></div>
                     <div class="bill-detail"><span class="f-left">Reference #</span><span class="f-right">:&nbspmb-123456</span></div>
                     <div class="bill-detail"><span class="f-left">Amount   </span><span class="f-right">:&nbsp180.50 ILS</span></div>
                     <div class="bill-detail"><span class="f-left">Payment Date </span><span class="f-right">:&nbsp20/10/2013 </span></div>
                </ul>
                
            </div>
            </a>
        </li>
        
        <li><a>
            <div>
                <ul>
                     <div class="bill-detail"><span class="f-left">Due Date  </span><span  class="f-right">:&nbsp 01/12/2013</span></div>
                     <div class="bill-detail"><span class="f-left">Reference #</span><span  class="f-right">:&nbspmb-123456</span></div>
                     <div class="bill-detail"><span class="f-left">Amount   </span><span  class="f-right">:&nbsp180.50 ILS</span></div>
                     <div class="bill-detail"><span class="f-left">Payment Date </span><span  class="f-right">:&nbsp20/11/2013 </span></div>
                </ul>
                
            </div>
            </a>
        </li>
        
        
        <li><a>
            <div>
                <ul>
                     <div class="bill-detail"><span class="f-left">Due Date  </span><span  class="f-right">:&nbsp 01/01/2014</span></div>
                     <div class="bill-detail"><span class="f-left">Reference #</span><span  class="f-right">:&nbspmb-123456</span></div>
                     <div class="bill-detail"><span class="f-left">Amount   </span><span  class="f-right">:&nbsp180.50 ILS</span></div>
                     <div class="bill-detail"><span class="f-left">Payment Date </span><span  class="f-right">:&nbsp20/12/2013</span> </div>
                </ul>
                
            </div>
            </a>
        </li>
        <li><a>
            <div>
                <ul>
                     <div class="bill-detail"><span class="f-left">Due Date </span><span  class="f-right">:&nbsp 01/02/2014></span></div>
                     <div class="bill-detail"><span class="f-left">Reference #</span><span  class="f-right">:&nbspmb-123457</span></div>
                     <div class="bill-detail"><span class="f-left">Amount   </span><span  class="f-right">:&nbsp185.00 ILS</span></div>
                     <div class="bill-detail"><span class="f-left">Payment Date </span><span  class="f-right">:&nbsp25/1/2014</span> </div>
                </ul>
                
            </div>
            </a>
        </li>
        
    </ul>
    
</div>



<style>
    #paltel-bills-list li:nth-child(odd){
        background-color:#eee;
    }
      .bills-list ul {
   
  border-radius: 25px;
   font-weight: bold;
    margin-bottom:10px;
    color:black;  
    
}

    .bill-detail
    {
        display: block;
        font-size: 0.83em;
        
        font-weight: bold;
    }
   
    
    .detail-name{
       color: rgb(54, 23, 35);
        
    }
    
    #paltelPayedBillsView  .km-listview-link:after {
    visibility:hidden;
       
    }
    
    .f-left {
width: 50%;
float: left;
font-size: 0.9em;
}
    
    .f-right {
font-weight: bold;
font-size: 0.9em;
}
    
    
    
    
</style>
