<div data-role="view" id="paymentHistoryView"  data-layout="goback-layout" dir="rtl">
<div class="page-name">سجل الدفعات</div>

    
    <ul data-role="listview" data-style="inset">

        <li id="paltel-li">
            <a  href="views/paltelPayedBillsView.html">بالتل</a>
        </li>
        <li id="hadara-li">
            <a   href="views/paltelPayedBillsView.html">حضارة</a>
        </li>
        <li id="gemzo-li">
            <a   href="views/paltelPayedBillsView.html">جيمزو</a>
        </li>
    </ul>
    
    
</div>
<style>
  
    
   #paymentHistoryView  .km-listview-link:after {
    visibility:hidden;
       color:red;
    }
    
    
    #paltel-li{
        background-image: url(styles/images/itisalat-icon.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:left;
    }
    
    #hadara-li{
        background-color:#eee;
        background-image: url(styles/images/hadara-icon.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:left;
    }
    
    #gemzo-li{
        background-image: url(styles/images/gemzo-icon.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:left;
    }
    
</style>



