<div data-role="view" id="paymentsView"  data-layout="level-one-layout">
    <div class="page-name">Payments /Topup View</div>

    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="bill-e" href="views/payABillView.html">Pay a bill</a>
        </li>
         <li>
            <a  data-icon="topup-e" href="views/eTopUpAccountsView.html">E-Topup</a>
        </li>
         <li>
            <a  data-icon="friend-e" href="views/payAFriendView.html">Pay A friend</a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/defineAPayeeView.html">Define Payee</a>
        </li>
        <li>
            <a  data-icon="featured" href="views/requestVendorStatusView.html">Defiened Payee Request Status</a>
        </li>
        <li>
            <a  data-icon="history" href="views/paymentHistoryView.html">Payment History</a>
        </li>
    </ul>
</div>
  