<div data-role="view" id="paymentsView"  data-layout="level-one-layout" dir="rtl">
    <div class="page-name"  style= "text-align: right; padding-right: 20px;">دفعات /تعبئة رصيد</div>

    <ul data-role="listview" data-style="inset" class="k-rtl" style="text-align: right; margin-right: 20px;">

        <li>
            <a  href="views/payABillView.html" data-icon="bill-e">دفع فاتورة</a>
        </li>
         <li>
            <a  data-icon="topup-e" href="views/eTopUpAccountsView.html">تعبئة رصيد</a>
        </li>
         <li>
            <a  data-icon="friend-e" href="views/payAFriendView.html">ادفع لصديق</a>
        </li>
        <li>
            <a  data-icon="contacts" href="views/defineAPayeeView.html">تعريف وجهة دفع</a>
        </li>
        <li>
            <a  data-icon="featured" href="views/requestVendorStatusView.html">حالة وجهات الدفع المعرفة</a>
        </li>
        <li>
            <a  data-icon="history" href="views/paymentHistoryView.html">سجل الدفعات</a>
        </li>
    </ul>
</div>
  