<div data-role="view" id="personalMoneyMgmt"  data-layout="level-one-layout">

    <div class="page-name">Personal Money Management  </div>
    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="cards-e" href="views/requiringPaymentsview.html">Requiring Payments</a>
        </li>
        <li>
            <a  data-icon="cards-e" href="views/periodicPaymentsview.html"> Schedule A Transfer </a>
        </li>
        <li>
            <a  data-icon="cards-e" href="views/reviewScheduled.html">Review Scheduled </a>
        </li>
        
       
       
    </ul>
    
    
</div>