<div data-role="view" id="personalMoneyMgmt"  data-layout="level-one-layout">

    <div class="page-name"> إدارة الأموال الشخصية  </div>
    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="cards-e" href="views/requiringPaymentsview.html">  المدفوعات المتطلبة </a>
        </li>
        <li>
            <a  data-icon="cards-e" href="views/periodicPaymentsview.html"> جدولة تحويل حساب </a>
        </li>
        <li>
            <a  data-icon="cards-e" href="views/reviewScheduled.html"> مراجعة الجدول </a>
        </li>
        
       
       
    </ul>
    
    
</div>