<div data-role="view" id="loyaltyPoints"  data-layout="goback-layout">
    <div class="page-name">Redeem Vendors</div>

    <ul data-role="listview" data-style="inset">

        <li id="paltel-li">
             <a   href="views/sbitanyItems.html">Sbitany</a>
        </li>
        <li id="home-li">
             <a   href="views/paltelBillsView.html">KFC</a>
        </li>
        
         
    </ul>
</div>
<style>
    #paltel-li{
        background-image: url(styles/images/Jerusalem-Branches-Logo.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:right;
        
    }
     #home-li{
        background-image: url(styles/images/kfc.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:right;
        
    }
</style>