<div data-role="view" id="reportStolenCard"  data-layout="goback-layout" dir="rtl" >
    
    <div class="center-con">
    <div class="page-name" style="padding-left:150px;">التبليغ عن بطاقة مسروقة </div>
    
           اختار البطاقة التي تريد التبليغ عنها 
         <div style="height:20px"></div>
        <select id="styled-select">
            <option>$ My  Mastercard Credit US </option>
            <option>My Easy Life ILS  </option>
            <option>$ Visa electron Card US </option>
            
        </select>
    
    
     <div style="height:200px"></div>
         <input class="log-in-button" value="ايقاف"> 

        </div>
    </div>
