<div data-role="view" id="reportStolenCard"  data-layout="goback-layout" >
    
    <div class="center-con">
    <div class="page-name">Report Stolen Card </div>
    
      Select the Card you wish to activate 
         <div style="height:20px"></div>
        <select id="styled-select">
            <option>My  Mastercard Credit US$ </option>
            <option>My Easy Life ILS </option>
            <option>Visa electron Card US$ </option>
            
        </select>
    
    
     <div style="height:200px"></div>
         <input class="log-in-button" value="Deactivate"> 

        </div>
    </div>
