<div data-role="view" id="requestEasyLifeCard"  data-layout="goback-layout" data-model="app.dropDownService.viewModel" data-show="app.transferCodeService.viewModel.generateRandomInt">
    <div class="page-name">Request Easy Life Card</div>
	
    <ul data-role="listview">
        <li id="from-account-li" class="from-list-item"  style="background-color:#eee;">
            <a style="line-height: initial;">
                <div class="from-act">Link to</div>
                <div id="balance-from-account-div" class="balance-from-acct" style="visibility:hidden">
                    Balance&nbsp<span style="color:gray;margin-left: 3em;" data-bind="source:currentFromAccountBalance"></span>
                    <span data-bind="source:fromcurrency"></span>
                </div>
                <div class="select-holder">
                    <select id="accounts-list-drop-down" class="from-dd" data-bind="source:chequeAccounts" >

                    </select>
                </div>
            </a>
        </li>
        <li style="padding-top:20px;padding-bottom:20px">

            <div class='main-text-black'>
                Card Limit
                <input id="card-limit-Easylife" type="number" autocorrect="off" autocapitalize="off"  placeholder="Card Limit" />
            </div>

        </li>
    </ul>
    
    <div class="main-text-black" style="color:gray;padding-top:5px;">Description</div>
         <div class="center-con" style="padding-top:5px;">
          <textarea style="width:90%; height:60px ;padding-top:5px;" placeholder="describe this transaction here"></textarea>
  
          </div>  
    
    <div style="width:100%;height:50px;"></div>
    <div class="buttonArea">
            <input type="submit" data-rel="modalview" id="login" data-role="button"  href="#modalview-requestEasyLife"  class="log-in-button" value="Request a Card" />
        </div>
    
    <!--<p >
        <div class="main-text">  From Account:</div> 
        
        <div class="center-con"><select id="accounts-list-drop-down" data-bind="source:chequeAccounts"  >

        </select>
</div>   
        <br>
       <form data-bind="events: { keyup: checkEnter }">
        <ul data-role="listview" data-style="inset" data-bind="invisible: isLoggedIn">
            <li>
                <label>
                   <div class='main-text'> Card Limit</div>
                    <input  type="number" autocorrect="off" autocapitalize="off"  placeholder="Enter amount here" />
                </label>
            </li>
            

            
        </ul>
            
<br>        
        
        
        <div class="buttonArea">
            <input type="submit" data-rel="modalview" id="login" data-role="button"  href="#modalview-requestEasyLife"  class="log-in-button" value="Request a Card" />
        </div>
    </form>

    </p>-->
    
</div>


<div data-role="modalview" id="modalview-requestEasyLife"  data-model="app.transferCodeService.viewModel">
           
            <div data-role="header">
                <div data-role="navbar">
                    <span>Request </span>
                    <a data-click="closeModalViewLogin"  data-role="button" data-align="right">Cancel</a>
                </div>
            </div>
          <h2>Enter PIN Number &nbsp<span style="color: #560f5b; " data-bind="source:num"></span> <input type="number" data-bind="value:enteredNumber" class="modalview-input-area"></h2>
           
          <!--  <div data-bind="source:accounts"></div>-->
            
          <div > <a style="width:70%" data-click="app.transferCodeService.viewModel.checkTransferCode" class="app.modalview-button" id="modalview-login-button" type="button" data-role="button" >Complete Request</a></div>
         <!-- <div > <a style="width:70%" data-click="" class="modalview-button" id="modalview-login-button" type="button" data-role="button" >Yes</a></div>
          <div >  <a style="width:70%" data-click="closeModalViewLogin" class="modalview-button" id="modalview-reg-button" type="button" data-role="button">No </a></div>
-->
               
                </div>

<style>
    
    .from-act
    {
        display: block;
        font-size: 1.2em;}
    
    
    #card-limit-Easylife{
        border:groove;
    }
    
      .from-dd
    { 
        
         left: 81px;
       /* left:112px;*/
        font-weight:100;
        color: #d7007f;
        color:gray;
        right: 01px!important;
        bottom: 1px; 
        top: 0!important;
        font-size:0.5!important;
        height: 135%!important;
        width: 73%!important;
    }
    
     div.km-modalview-wrapper{
    text-align: center; 
        border-radius:5px;
      
       background:#1fa3cf;
         background:#560f5b;;
    }
    #modalview-requestEasyLife{
       
        background-color:#560f5b!important;
       vertical-align: middle;
       width: 95%;
        height:220px ;
      }
    
    .modalview-input-area
    {
        border-radius: 6px;
        border-color: #560f5b;
        border-width: 4px;
        
        margin-top: 13px;
        text-align: center;
        font-size: larger;
        margin-bottom: 10px;
        height: 45px;
        width: 112px;
    }

   
</style>
<script>
     function closeModalViewLogin() {
        
        $("#modalview-requestEasyLife").kendoMobileModalView("close");
    }
    

</script>

