<div data-role="view" id="requestETopUpStatusView"  data-layout="main-layout">
<div class="page-name">request E-Top Up Status</div>
    
    <ul data-role="listview" data-style="inset" class="bills-list">

        <li style="background-color:#eee;">
            <ul>
                <div class="bill-detail">
                    <span class="f-left-ven-s">Vendor </span><span class="f-right-ven-s">:&nbsp Jawwal</span>
                </div>
                <div class="bill-detail">
                    <span class="f-left-ven-s">Refrence #</span><span class="f-right-ven-s">:&nbsp mb-123456</span>
                </div>
                <div class="bill-detail">
                    <span class="f-left-ven-s">Request Date</span><span class="f-right-ven-s">:&nbsp 05/10/2013</span>
                </div>
                <div class="bill-detail">
                    <span class="f-left-ven-s">Status </span><span class="f-right-ven-s">:&nbsp Pending</span>
                </div>

            </ul>
        </li> 
        <li >
            <ul>
                <div class="bill-detail">
                    <span class="f-left-ven-s">Vendor </span><span class="f-right-ven-s">:&nbsp Wataniya Mobile</span>
                </div>
                <div class="bill-detail">
                    <span class="f-left-ven-s">Refrence #</span><span class="f-right-ven-s">:&nbsp mb-123456</span>
                </div>
                <div class="bill-detail">
                    <span class="f-left-ven-s">Request Date</span><span class="f-right-ven-s">:&nbsp 03/11/2013</span>
                </div>
                <div class="bill-detail">
                    <span class="f-left-ven-s">Status </span><span class="f-right-ven-s">:&nbsp Accepted</span>
                </div>

            </ul>
        </li> 
      <!--  <li>
            <a>
                <div>
                    <ul>
                        <li>Vendor : Jawwal</li>
                        <li>Refrence #:mb-123456</li>
                        <li>Request Date:05/10/2013</li>
                        <li>Status :Pending </li>
                    </ul>

                </div>
            </a>
        </li>

        <li>
            <a>
                <div>
                    <ul>
                        <li>Vendor : Watania Mobile</li>
                        <li>Refrence #:mb-123456</li>
                        <li>Request Date:03/11/2013</li>
                        <li>Status :Accepted </li>
                    </ul>

                </div>
            </a>
        </li>-->
    </ul>
   
</div>



<style>

  .f-left-ven-s {
width: 50%;
float: left;
font-size: 0.9em;
}
    
    .f-right-ven-s {

font-size: 0.9em;
}
    
</style>