<div data-role="view" id="requestsView"  data-layout="level-one-layout" data-model="app.dropDownService.viewModel" dir ="rtl">
    <div class="page-name"> طلبات من البنك </div>

    <ul data-role="listview" list-syle="inset">
   
        	  <ul data-role="listview" list-syle="inset">
        <li>
            <a data-icon="request-e" href="views/OpenNewAccount.html"> <span class="mar-right-10" > فتح حساب جديد</a>
        </li>
    </ul>
        
        <li>
            <a data-icon="request-e" href="views/OnlineBankingRequest.html"><span class="mar-right-10" >طلب الخدمات المصرفية عبر الإنترنت</a>
        </li>
       
        <!-- <li>
            <a  data-icon="featured" href="views/closeMyCardsInCournties.html">Close My Cards in Courntries</a>
        </li>-->
    
    </ul>

    
    
       
    
    
    <ul data-role="listview" list-syle="inset">
        <li>
            <a data-icon="request-e" href="views/SMSBankingRequest.html"><span class="mar-right-10" > طلب خدمة الرسائل القصيرة </a>
        </li>
    </ul>
    
    
    <ul data-role="listview" list-syle="inset">
        <li>
            <a data-icon="request-e"href="views/requestLoanView.html"> <span class="mar-right-10" >طلب قرض </a>
        </li>
    </ul>
    <ul data-role="listview" list-syle="inset">
        <li>
            <a data-icon="request-e" href="views/requestPosView.html"><span class="mar-right-10" > طلب نقاط بيع </a>
        </li>
    </ul>

   
    
    
</div>

<style>
    #requestsView .km-icon
    {
        color: #63106c;
    }

.mar-right-10
    {
        margin-right:10px;
        
        
    }

</style>