<div data-role="view" id="requestsView"  data-layout="level-one-layout" data-model="app.dropDownService.viewModel">
    <div class="page-name">Requests from Bank</div>

    <ul data-role="listview" list-syle="inset">
   
        	  <ul data-role="listview" list-syle="inset">
        <li>
            <a data-icon="request-e" href="views/OpenNewaccount.html">Open New sub account</a>
        </li>
    </ul>
        
        <li>
            <a data-icon="request-e" href="views/OnlineBankingRequest.html">Online Banking Request</a>
        </li>
       
        <!-- <li>
            <a  data-icon="featured" href="views/closeMyCardsInCournties.html">Close My Cards in Courntries</a>
        </li>-->
    
    </ul>

    
    
       
    
    
    <ul data-role="listview" list-syle="inset">
        <li>
            <a data-icon="request-e" href="views/SMSBankingRequest">SMS Banking Request </a>
        </li>
    </ul>
    
    
    
  

    <ul data-role="listview" list-syle="inset">
        <li>
            <a data-icon="request-e"href="views/requestLoanView.html">Request A Loan </a>
        </li>
    </ul>
    <ul data-role="listview" list-syle="inset">
        <li>
            <a data-icon="request-e" href="views/requestPosView.html">Request POS</a>
        </li>
    </ul>

   
    
    
</div>

<style>
    #requestsView .km-icon
    {
        color: #63106c;
    }
    </style>
