<div data-role="view" id="requestMasterDebitView"  data-layout="goback-layout" data-model="app.dropDownService.viewModel">
    <div class="page-name">Request Visa Electron / Debit Card</div>
<p>
<ul data-role=""> <li id="from-account-li" class="from-list-item"  style="background-color:#eee;">
            <a style="line-height: initial;">
                <div class="from-act">Link to</div>
                <div id="balance-from-account-div" class="balance-from-acct" style="visibility:hidden">
                    Balance&nbsp<span style="color:gray;margin-left: 3em;" data-bind="source:currentFromAccountBalance"></span>
                    <span data-bind="source:fromcurrency"></span>
                </div>
                <div class="select-holder">
                    <select id="accounts-list-drop-down" class="from-dd" data-bind="source:usdAccounts" >

                    </select>
                </div>
            </a>
        </li>
    <li id="from-account-li" class="from-list-item"  style="background-color:#eee;">
            <a style="line-height: initial;">
                <div class="from-act">Link to</div>
                <div id="balance-from-account-div" class="balance-from-acct" style="visibility:hidden">
                    Balance&nbsp<span style="color:gray;margin-left: 3em;" data-bind="source:currentFromAccountBalance"></span>
                    <span data-bind="source:fromcurrency"></span>
                </div>
                <div class="select-holder">
                    <select id="accounts-list-drop-down" class="from-dd" data-bind="source:usdAccounts" >

                    </select>
                </div>
            </a>
        </li>
</ul>    
    
        <div class="main-text">  From Account:</div> 
    <div class="center-con">    
    <select id="accounts-list-drop-down" data-bind="source:chequeAccounts"  >

        </select>
        
</div>  
    
    <br>
       <form data-bind="events: { keyup: checkEnter }">
        
            
        
        
        
        <div class="buttonArea">
            <input type="submit" data-rel="modalview" id="login" data-role="button"  href="#modalview-login"  class="log-in-button" value="Request a Card" />
        </div>
    </form>

    </p>
    
</div>