<div data-role="view" id="requestNewCardView"  data-layout="goback-layout">
    <div class="page-name">Request Credit / Debit Card</div>
    
    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="featured" href="views/requestMasterCredit.html">MasterCard Credit</a>
        </li>
          <!--<li>
            <a  data-icon="featured" href="views/requestMasterDebit.html">Request Master Debit Card</a>
        </li>-->
        <li>
            <a  data-icon="featured" href="views/requestVisaCredit.html">Visa Credit</a>
        </li>
        
        
        
    </ul>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>