<div data-role="view" id="requestStatementView"  data-layout="main-layout" data-model="app.FSRequestService.viewModel" data-show="app.transferCodeService.viewModel.generateRandomInt">
    <div class="page-name">Request Full Statement View</div>
   
    <ul data-role="listview" style="text-align: center" >
         <li> <div class="main-text"><div style="float:left">From Date </div><input style="float: right; margin-right: 30px;" type="date" name="fromDate"></div></li>
    <li><div class="main-text"><div style="float:left">To Date</div><input style="float: right; margin-right: 30px;" type="date" name="ToDate"></div></li>
        
        <!-- data-bind="click: requestPDFEmail"  data-bind="click: RequestPDFDownload"-->
        <li>
            <input type="submit" id="clear"  data-role="button" data-rel="modalview" href="#modalview-requestStatment"  class="log-in-button" value="Request a PDF (email)" />
        </li>
         
        <li>
            <input type="submit" id="clear" data-rel="modalview" data-role="button" href="#modalview-requestStatment"  class="log-in-button" value="Rqeuest a PDF (downlaod)" />
        </li> 

    </ul>
   

</div>
 

<div data-role="modalview" id="modalview-requestStatment"  data-model="app.transferCodeService.viewModel">
           
            <div data-role="header">
                <div data-role="navbar">
                    <span>Request PDF</span>
                    <a data-click="closeModalViewLogin"  data-role="button" data-align="right">Cancel</a>
                </div>
            </div>
          <h2>Enter PIN Number &nbsp<span style="color: #560f5b; " data-bind="source:num"></span> <input type="number" data-bind="value:enteredNumber" class="modalview-input-area"></h2>
           
          <!--  <div data-bind="source:accounts"></div>-->
            
          <div > <a style="width:70%" data-click="app.transferCodeService.viewModel.checkTransferCode" class="app.modalview-button" id="modalview-login-button" type="button" data-role="button" >Complete Request</a></div>
         <!-- <div > <a style="width:70%" data-click="" class="modalview-button" id="modalview-login-button" type="button" data-role="button" >Yes</a></div>
          <div >  <a style="width:70%" data-click="closeModalViewLogin" class="modalview-button" id="modalview-reg-button" type="button" data-role="button">No </a></div>
-->
               
                </div>

<style>
     div.km-modalview-wrapper{
    text-align: center; 
        border-radius:5px;
      
       background:#1fa3cf;
         background:#560f5b;;
    }
    #modalview-requestStatment{
       
        background-color:#560f5b!important;
       vertical-align: middle;
       width: 95%;
        height:220px ;
      }
    
    .modalview-input-area
    {
        border-radius: 6px;
        border-color: #560f5b;
        border-width: 4px;
        
        margin-top: 13px;
        text-align: center;
        font-size: larger;
        margin-bottom: 10px;
        height: 45px;
        width: 112px;
    }

   
</style>
<script>
     function closeModalViewLogin() {
        
        $("#modalview-requestStatment").kendoMobileModalView("close");
    }
    

</script>
