<div data-role="view" id="requestChequeBooksView"  data-layout="goback-layout" data-model="app.dropDownService.viewModel" data-show="app.transferCodeService.viewModel.generateRandomInt" >
<div class="page-name">Cheque-Book Requst</div>
    
 <ul data-role="listview" id="chequeBook-transfer-list" data-style="inset">
        <li id="from-account-li" class="from-list-item"  style="background-color:#eee;">
            <a style="line-height: initial;">
                <div class="from-act">For</div>
                <div id="balance-from-account-div" class="balance-from-acct">
                    Balance&nbsp<span style="color:gray;margin-left: 3em;" data-bind="source:currentFromAccountBalance"></span>
                    <span data-bind="source:fromcurrency"></span>
                </div>
                <div class="select-holder">
                    <select id="accounts-list-drop-down" class="from-dd" data-bind="source:accounts" onchange="myFunction()"  >

                    </select>
                </div>
            </a>
        </li>
     
     <li id="from-account-li" class="from-list-item"  >
            <a style="line-height: initial;">
                <div class="from-act">Type</div>
                <div id="balance-from-account-div" class="balance-from-acct">
                    Balance&nbsp<span style="color:gray;margin-left: 3em;"></span>
                    <span data-bind="source:fromcurrency"></span>
                </div>
                <div class="select-holder">
                    <select id="accounts-list-drop-down" class="from-dd" data-bind="source:chequeBooksType" onchange="myFunction()"  >

                    </select>
                </div>
            </a>
        </li> 
     
     <li id="from-account-li" class="from-list-item"  style="background-color:#eee;">
            <a style="line-height: initial;">
                <div class="from-act">Number</div>
                <div id="balance-from-account-div" class="balance-from-acct">
                    Balance&nbsp<span style="color:gray;margin-left: 3em;"></span>
                    <span data-bind="source:fromcurrency"></span>
                </div>
                <div class="select-holder">
                    <select id="accounts-list-drop-down" class="from-dd" data-bind="source:numberOfChequeBooks" onchange="myFunction()"  style="text-indent: 78px;">

                    </select>
                </div>
            </a>
        </li>
     
     
         
         
     
     
     
     
 </ul>
    
     <div class="main-text" style="color:gray">Description</div>
         <div class="center-con" style="padding-top:5px;">
          <textarea style="width:90%; height:60px ;padding-top:5px;" placeholder="describe this transaction here"></textarea>
  
          </div>  
    
    <div id="space"></div>
     <div class="buttonArea">
        <input type="submit" id="login" data-role="button" data-rel="modalview" href="#modalview-requestCheque" class="log-in-button" value="Complete Request" />
    </div>
    
</div>


<style>
#space{
    width:100%;
    height:50px;
}
    /*#requestChequeBooksView .km-scroll-container{
        background-color:blue;
        position:absolute;
        width:100%;
        height:100%;
        
    }*/
    
    
    #from-account-li{
        border-width:0px;
        border-bottom-color: rgba(127, 127, 127, 0.5)!important;
      /*  background: 100% 100% no-repeat url("styles/images/dd-arrow3.png") transparent!important;*/
        background-size: auto 100%!important;
    }
    #to-account-li{
        border-bottom-color: rgba(127, 127, 127, 0.5)!important;
       /* background: 100% 100% no-repeat url("styles/images/dd-arrow3.png") transparent!important;*/
        background-size: auto 100%!important;
    }
    
    #balance-from-account-div{
        visibility:hidden;
        color:black;
    }
    #balance-to-account-div{
        visibility:hidden;
        color:black;
        font-weight:100;
    }
    
    #rate-holder{
       visibility:hidden; 
    }
    
    #money-exchange-input{
        height: 85%;
        border:groove; background-color:white;left: 92px;font-size:1.0em;font-weight:bold;color:#63106c;
       /* height:98%;*/
       /* border: groove;
        background-color:white;*/
        /*border:none;*/
               /* font-weight:bold;
                width:3em;*/
       /* background-color: #eeeeee;
       font-size: 0.90em;
       color:#560f5b;
      /* background: lightgray;
       width: 64%;
        width:47%;
       right: 0;
       border-radius:5px;*/
    }
   
    .seperator
    {
        height: 4px;
        width: 100%;
    }
    
    .balance-from-acct{
        font-weight: 100;
        margin-top: 4px;
        visibility: visible;
        
        display: block;
        font-size: 0.67em;
       /*-webkit-margin-before: 2.33em;*/
        /*-webkit-margin-after: 2.33em;*/
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
     /*   font-weight: bold;*/
    }
    
    .balance-to-acct{
        display: block;
         font-weight: 100;
        font-size: 0.67em;
       /*-webkit-margin-before: 2.33em;*/
        /*-webkit-margin-after: 2.33em;*/
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }
    
    .rate-acct{
        color:gray;
        display: block;
        font-size: 0.67em;
       -webkit-margin-before: 2.33em;
        /*-webkit-margin-after: 2.33em;*/
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }
    
    .from-act
    {
        display: block;
        font-size: 1.2em;
       /*-webkit-margin-before: 2.33em;*/
        /*-webkit-margin-after: 2.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;*/
    }
    
    .from-dd
    { 
        left: 81px;
       /* left:112px;*/
        font-weight:100;
        color: #d7007f;
        color:gray;
        right: 01px!important;
        bottom: 1px; 
        top: 0!important;
        font-size: 0.95em!important;
        height: 135%!important;
        width: 73%!important;
        /*background: aqua!important;
        */
        /*border-bottom-color: rgba(127, 127, 127, 0.5)!important;
        background: 100% 100% no-repeat url("styles/images/dd-arrow3.png") transparent!important;
        background-size: auto 100%!important;*/
    }
   
    #transfer-list li
    {
      /*  width:93%!important;*/
        width:100%!important;
       /* border-width: 2px!important;*/
        /* background: pink!important;*/
       /* width: 93%!important;*/
        margin-left: auto!important;
        margin-right: auto!important;
        border-image: -webkit-linear-gradient(left, rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0.5) 1em, rgba(180, 180, 180, 0.5) 100%) 1 stretch; ;
    }
    
    
    
</style>



<script>
    
     function myFunction(){
        
        console.log("run my function");
        that=app.dropDownService.viewModel;
        console.log("Change");
        fromC= that.fromcuurency;
        toC=that.tocuurency;
      /*  console.log("from "+fromC+"to "+toC);*/
        
        var myselect = document.getElementById("accounts-list-drop-down");
 
        console.log(myselect.options[myselect.selectedIndex].index);
        
        _index=myselect.options[myselect.selectedIndex].index;
        switch (_index) {
            case(0):{
              
             document.getElementById("balance-from-account-div").style.visibility="hidden";
            that.setFromCurrency("");
            }
            break;
            case(1): {
                    that.setCurrentAccountBalance(10015.75);
                    that.setFromCurrency("USD");
                document.getElementById("balance-from-account-div").style.visibility="visible";
                }
                break;
            case(2): {
                    that.setCurrentAccountBalance(1700.00);
                    that.setFromCurrency("USD");
                  document.getElementById("balance-from-account-div").style.visibility="visible";
                }
                break;
            case(3): {
                    that.setCurrentAccountBalance(20.082);
                that.setFromCurrency("JOD");
                  document.getElementById("balance-from-account-div").style.visibility="visible";
                }
                break;
            case(4): {
                    that.setCurrentAccountBalance(5015.75);
                that.setFromCurrency("ILS");
                  document.getElementById("balance-from-account-div").style.visibility="visible";
                }
                break;
            case(5): {
                    that.setCurrentAccountBalance(100);
                that.setFromCurrency("USD");
                  document.getElementById("balance-from-account-div").style.visibility="visible";
                }
                break;
        }
        console.log("From "+that.fromcurrency+"To "+that.tocurrency);
        
        if(that.fromcuurency==="USD" && that.tocurrency==="USD"){
           alert();
                that.setRate(2);
            
            
        }
         x=that.fromcurrency;
        y=that.tocurrency;
       
        
        
        
        switch (x) {
            case(""):{document.getElementById("rate-holder").style.visibility="hidden";}break;
            
            case("USD"): {
                    switch (y) {
                         case(""):{document.getElementById("rate-holder").style.visibility="hidden";}break;
                        case("USD"):
                          {  that.setRate(1);
                        document.getElementById("rate-holder").style.visibility="hidden";}
                            break;
                        case("ILS"):{
                            that.setRate(3.5);
                            document.getElementById("rate-holder").style.visibility="visible";
                        }
                            break;
                        case("JOD"):{
                            that.setRate(0.7);
                         document.getElementById("rate-holder").style.visibility="visible";}
                            break;
                    }
                }
                break;
            case("JOD"): {
                    switch (y) {
                         case(""):{document.getElementById("rate-holder").style.visibility="hidden";}break;
                        case("USD"):{
                            that.setRate(1.41);
                        document.getElementById("rate-holder").style.visibility="visible";
                        }
                            break;
                        case("ILS"):{
                            that.setRate(4.91);
                             document.getElementById("rate-holder").style.visibility="visible";
                        }
                            break;
                        case("JOD"):{
                            that.setRate(1);
                             document.getElementById("rate-holder").style.visibility="visible";}
                            break;
                    }
                }
                break; 
            
            case("ILS"): {
                    switch (y) {
                         case(""):{document.getElementById("rate-holder").style.visibility="hidden";}break;
                        case("USD"):
                           {that.setRate(0.28);
                         document.getElementById("rate-holder").style.visibility="visible";}
                            break;
                        case("ILS"):
                            {that.setRate(4.91);
                         document.getElementById("rate-holder").style.visibility="visible";}
                            break;
                        case("JOD"):
                        {
                            that.setRate(0.20);
                         document.getElementById("rate-holder").style.visibility="visible";
                        }
                            break;
                    }
                }
                break;
        }
        
       that.transferAmountChanged();
        
    }  
    
    
</script>

<!-- old view -->

    <div data-role="view" id="requestChequeBooksView"  data-layout="goback-layout" data-model="app.dropDownService.viewModel" data-show="app.transferCodeService.viewModel.generateRandomInt">
    <div class="page-name">Cheque-Book Requst</div>

    <p>
        <div class="main-text">Account Number</div>
        <div class="center-con">
            <select id="accounts-list-drop-down" data-bind="source:accounts" onchange="app.dropDownService.viewModel.fromAccountManger()"  >

            </select>

        </div>
        <div class='main-text' style="color:#7b227e">
            Available Balance :&nbsp<span style="color:black" data-bind="source:currentFromAccountBalance"></span>
            <span data-bind="source:fromcurrency"></span>
        </div>

    </p>
    
    <p>
        <div class="main-text"> Cheque-Book Type</div>
        <div class="center-con">
            <select id="accounts-list-drop-down" data-bind="source:chequeBooksType"  >

            </select>
        </div>
    </p>
    
    <p>
        <div class="main-text"> Number of Cheque Books</div>
        <div class="center-con">
            <select id="number-of-cheques-dropdown" data-bind="source:numberOfChequeBooks" onchange="app.dropDownService.viewModel.chequeBookFeesManager()"  >

            </select>
        </div>
    </p>

    <div class='main-text' style="color:#7b227e">
        This request is subject to <span style="color:black" data-bind="source:chequeBookFee"></span>
    </div>

    <br><br>
    <div class="buttonArea">
        <input type="submit" id="login" data-role="button" data-rel="modalview" href="#modalview-requestCheque" class="log-in-button" value="Complete Request" />
    </div>
    
</div>

<div data-role="modalview" id="modalview-requestCheque"  data-model="app.transferCodeService.viewModel">
           
            <div data-role="header">
                <div data-role="navbar">
                    <span>Request Cheque  </span>
                    <a data-click="closeModalViewLogin"  data-role="button" data-align="right">Cancel</a>
                </div>
            </div>
          <h2>Enter PIN Number &nbsp<span style="color: #560f5b; " data-bind="source:num"></span> <input type="number" data-bind="value:enteredNumber" class="modalview-input-area"></h2>
           
          <!--  <div data-bind="source:accounts"></div>-->
            
          <div > <a style="width:70%" data-click="app.transferCodeService.viewModel.checkTransferCode" class="app.modalview-button" id="modalview-login-button" type="button" data-role="button" >Complete Request</a></div>
         <!-- <div > <a style="width:70%" data-click="" class="modalview-button" id="modalview-login-button" type="button" data-role="button" >Yes</a></div>
          <div >  <a style="width:70%" data-click="closeModalViewLogin" class="modalview-button" id="modalview-reg-button" type="button" data-role="button">No </a></div>
-->
               
                </div>

<style>
     div.km-modalview-wrapper{
    text-align: center; 
        border-radius:5px;
      
       background:#1fa3cf;
         background:#560f5b;;
    }
    #modalview-requestCheque{
       
        background-color:#560f5b!important;
       vertical-align: middle;
       width: 95%;
        height:220px ;
      }
    
    .modalview-input-area
    {
        border-radius: 6px;
        border-color: #560f5b;
        border-width: 4px;
        
        margin-top: 13px;
        text-align: center;
        font-size: larger;
        margin-bottom: 10px;
        height: 45px;
        width: 112px;
    }
   
</style>
<script>
     function closeModalViewLogin() {
        
        $("#modalview-requestCheque").kendoMobileModalView("close");
    }
    

</script>
