<div data-role="view" id="requestNewCardView"  data-layout="goback-layout" dir="rtl">

    <div class="page-name"> اطلب بطاقة ائتمان / بطاقة خصم</div>
    
    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="featured" href="views/requestMasterCredit.html"><span style="margin-right:10px;">بطاقة الائتمان MasterCard</span></a>
        </li>
          <!--<li>
            <a  data-icon="featured" href="views/requestMasterDebit.html">Request Master Debit Card</a>
        </li>-->
        <li>
            <a  data-icon="featured" href="views/requestVisaCredit.html"><span style="margin-right:10px;">بطاقة الائتمان Visa</span></a>
        </li>
        
        
        
    </ul>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>