<div data-role="view" id="loyatlyPointBlance"  data-layout="goback-layout" dir="rtl">
<div class="page-name">سبيتاني المنتجات المتوفرة</div>
     
    

    <ul data-role="listview" data-style="inset">

        <li id="washing-li">
 		<a   href="views/sbitanyItems.html">غسالة<br> 5000 نقطة <br>سامسونج</a>
        </li>
        <li id="mobile-li">
   	<a   href="views/sbitanyItems.html">LG G3 Mobile <br> 3000 نقطة <br> ال جي</a>
        </li><li id="fredg-li">
		<a   href="views/sbitanyItems.html">ثلاجة بابين<br> 5000 نقطة <br> ال جي </a>
        </li><li id="iron-li">
             <a   href="views/sbitanyItems.html">مكوى<br> 1000 نقطة <br>فيليبس</a>
        </li>
        
         
    </ul>
    
</div>
<style>
    #washing-li{
        background-image: url(styles/images/sw.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:left;
        height: 90px;
        
    }
   #mobile-li{
        background-image: url(styles/images/lg.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:left;
        height: 90px;
        
    }
     #fredg-li{
        background-image: url(styles/images/lgfredg.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:left;
        height: 90px;
        
    }
     #iron-li{
        background-image: url(styles/images/iron.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:left;
        height: 90px;
        
    }
</style>