<div data-role="view" id="loyatlyPointBlance"  data-layout="goback-layout">
<div class="page-name">Sbitany Available items </div>
     
    

    <ul data-role="listview" data-style="inset">

        <li id="washing-li">
             <a   href="views/sbitanyItems.html">Washing Machine<br> 5000 Point <br> Samsung</a>
        </li>
        <li id="mobile-li">
             <a   href="views/sbitanyItems.html">LG G3 Mobile <br> 3000 Point <br> LG</a>
        </li><li id="fredg-li">
             <a   href="views/sbitanyItems.html">2 door fridge <br> 5000 Point <br> LG</a>
        </li><li id="iron-li">
             <a   href="views/sbitanyItems.html">Iron<br> 1000 Point <br> Philips</a>
        </li>
        
         
    </ul>
    
</div>
<style>
    #washing-li{
        background-image: url(styles/images/sw.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:right;
        height: 90px;
        
    }
   #mobile-li{
        background-image: url(styles/images/lg.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:right;
        height: 90px;
        
    }
     #fredg-li{
        background-image: url(styles/images/lgfredg.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:right;
        height: 90px;
        
    }
     #iron-li{
        background-image: url(styles/images/iron.png);
background-repeat: no-repeat;
background-size: 40% 90%;
    background-position:right;
        height: 90px;
        
    }
</style>