<div data-role="view" id="settingsView"  data-layout="level-one-layout" >
    <div class="page-name">Settings View</div>
    <ul data-role="listview"  data-style="inset">
        <li><a data-icon="settings" href="views/changeBANicknameView.html">Change Account/Card Nickname</a></li>
        <li><a data-icon="settings" href="views/changeLoginPasswordView.html">Change Log in Password</a></li>
        <li><a data-icon="settings" href="views/changeAlertsOptions.html">Change Alerts Options</a></li>
  
    </ul>
  
</div>

<style>
    
  #settingsView li{
      
      
  }  
    
     #settingsView li span.km-icon{
         font-size:1.5em;
         color:#57105c;
         font-weight:300;
     }
    
   
</style>