<div data-role="view" id="settingsView"  data-layout="level-one-layout"  dir="rtl">
    <div class="page-name">الاعدادات</div>
    <ul data-role="listview"  data-style="inset">
        <li><a data-icon="settings" href="views/changeBANicknameView.html" ><span class="space">تغيير لقب المستخدم</span></a></li>
        <li><a data-icon="settings" href="views/changeLoginPasswordView.html"><span class="space">تغيير كلمة السر</span></a></li>
        <li><a data-icon="settings" href="views/changeAlertsOptions.html"><span class="space">تغيير خيارات التنبيهات</span></a></li>
  
    </ul>
  
</div>

<style>
    
  #settingsView li{
      
      
  }  
    
     #settingsView li span.km-icon{
         font-size:1.5em;
         color:#57105c;
         font-weight:300;
     }
    .space{
        padding-right:10px;
    
    }
   
</style>