<div data-role="view" id="stopMyCardView"  data-layout="goback-layout" data-model="app.dropDownService.viewModel" data-show="app.transferCodeService.viewModel.generateRandomInt" >
    <div class="page-name">Stop My Card</div>
    
    
     <div class='main-text'>Please choose the card you want to stop</div>
     <p>

        <select id="accounts-list-drop-down" data-bind="source:cards"  >

        </select>
    </p>

     <div class='main-text'>Please Specify the reason of stoppage</div>
     <p>

        <select id="accounts-list-drop-down" data-bind="source:reasonOfStoppage"  >

        </select>
    </p>
    
     <div class='main-text'>Extra Notes</div>
    <div class="center-con">
          <textarea style="width:90%; height:60px " placeholder=""></textarea>
  
          </div>  
        
    
    <div class="buttonArea">
            <input type="submit"  data-role="button" data-rel="modalview" href="#modalview-stopMyCard"    class="log-in-button" value="Stop Card" />
    </div>
    
    
    
    </div>

<div data-role="modalview" id="modalview-stopMyCard"  data-model="app.transferCodeService.viewModel">
           
            <div data-role="header">
                <div data-role="navbar">
                    <span>Stop Card </span>
                    <a data-click="closeModalViewLogin"  data-role="button" data-align="right">Cancel</a>
                </div>
            </div>
          <h2>Enter PIN Number &nbsp<span style="color: #560f5b; " data-bind="source:num"></span> <input type="number" data-bind="value:enteredNumber" class="modalview-input-area"></h2>
           
          <!--  <div data-bind="source:accounts"></div>-->
            
          <div > <a style="width:70%" data-click="app.transferCodeService.viewModel.checkTransferCode" class="app.modalview-button" id="modalview-login-button" type="button" data-role="button" >Complete Request</a></div>
         <!-- <div > <a style="width:70%" data-click="" class="modalview-button" id="modalview-login-button" type="button" data-role="button" >Yes</a></div>
          <div >  <a style="width:70%" data-click="closeModalViewLogin" class="modalview-button" id="modalview-reg-button" type="button" data-role="button">No </a></div>
-->
               
                </div>

<style>
     div.km-modalview-wrapper{
    text-align: center; 
        border-radius:5px;
      
       background:#1fa3cf;
         background:#560f5b;;
    }
    #modalview-stopMyCard{
       
        background-color:#560f5b!important;
       vertical-align: middle;
       width: 95%;
        height:220px ;
      }
    
    .modalview-input-area
    {
        border-radius: 6px;
        border-color: #560f5b;
        border-width: 4px;
        
        margin-top: 13px;
        text-align: center;
        font-size: larger;
        margin-bottom: 10px;
        height: 45px;
        width: 112px;
    }

   
</style>
<script>
     function closeModalViewLogin() {
        
        $("#modalview-stopMyCard").kendoMobileModalView("close");
    }
    

</script>
