<div data-role="view" id="VisaElectronView"  data-layout="goback-layout">
<div class="page-name" style= "text-align: right; padding-right: 20px;" >فيزا الكترون </div>
     
    

    <ul data-role="listview" data-style="inset">

        <li>
            <a  data-icon="request-e" href="views/requestVisaCredit.html">طلب بطاقة جديدة </a>
        </li>
        <li>
            <a  data-icon="activate-e" href="views/activateCard.html">تفعيل بطاقة</a>
        </li>
         <li>
            <a  data-icon="history" href="views/changeCardCurrency.html">تغيير العملة المرتبطة بالبطاقة</a>
        </li>
         <li>
            <a  data-icon="stop-e" href="views/reportStolenCard.html">ايقاف / التبليغ عن بطاقة مسروقة</a>
        </li>
       
    </ul>
    
</div>
